{% extends 'base.html' %}

{% block title %}Busqueda{% endblock title %}
{% block nav-style %}Busqueda{% endblock nav-style %}


<html>
<body>
{% block content %}
<div class="content">
{% if errors %}
<ul>
       {% for error in errors%}
       <li style="color: red;">{{ error }}</li>
       {% endfor %}
  </ul>
{% endif %}
    <form action="/buscar/" method="get">
      <input type="text" name="q">
        <input type="submit" value="Buscar">
    </form>
{% endblock content %}
</div>
</body>
</html>
